<!doctype html>
<html lang="en">

<head>
    {% load static %}
  <title>SignUp</title>
  <link href="{%static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'css/Signup_Job_Provider.css' %}" rel="stylesheet">
  <link rel="shortcut icon" type="image" href="static/images/logo/logo.png" >

</head>

<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <div class="container">
        <h1 class="h3 mb-3 font">Sign up For Job Provider</h1>
        <p>Already Have an Account? <a href="{% url 'Login_app:login'%}"> Log In here</a></p>
        <form method="post" enctype="multipart/form-data">
            {{ user_form.as_p }}
            {{ job_provider_info_form.as_p }}
            
        <!-- <div class="row">
          <div class="form-floating col-6">
            <input type="text" class="form-control mb-2" id="floatingInput" placeholder="name@example.com"
              autocomplete="off">
            <label for="floatingInput">First Name</label>
          </div>

          <div class="form-floating col-6">
            <input type="text" class="form-control mb-2" id="floatingInput" placeholder="name@example.com"
              autocomplete="off">
            <label for="floatingInput">Last Name</label>
          </div>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control mb-2" id="floatingInput" placeholder="name@example.com"
            autocomplete="off">
          <label for="floatingInput">Create User Name</label>
        </div>

        <div class="form-floating">
          <input type="email" class="form-control mb-2" id="floatingInput" placeholder="name@example.com"
            autocomplete="off">
          <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="off">
          <label for="floatingPassword">Password</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="off">
          <label for="floatingPassword">Confirm Password</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control mb-2" id="floatingInput" placeholder="name@example.com"
            autocomplete="off">
          <label for="floatingInput">Company Name</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control mb-2" id="floatingInput" placeholder="name@example.com"
            autocomplete="off">
          <label for="floatingInput">Project Title</label>
        </div>

        <div class="form-floating">
          <textarea type="text" class="form-control mb-2" id="floatingInput" placeholder="name@example.com"
            autocomplete="off"></textarea>
          <label for="floatingInput">Project Description</label>
        </div>

        <div class="form-floating">
          <input type="file" class="form-control mb-2" id="floatingInput" placeholder="name@example.com"
            autocomplete="off">
          <label for="floatingInput">Project File</label>
        </div> -->
        {% csrf_token %}
        <p><input type="submit" value="Create my account"></p>
        <!-- <button class="w-100 btn  mt-3" type="submit" value="Create my account"><a href="{% url 'Login_app:login' %}">Sign Up</a></button> -->
      </form>
    </div>
  </main>

</body>

</html>