<!doctype html>
<html lang="en">

<head>
  {% load static %} 
  <title>LogIn</title>
  <link rel="icon" href="static/images/portfolio/work-1.jpg"/>
  <link rel="stylesheet" href="{%static 'assets/dist/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/login.css'%}">
</head>
<body class="text-center">
  
 
  <main class="form-signin w-100 m-auto">
    <div class="container">
      <form action="{%url 'Login_app:user_loged'%}" method="post">
      <h1 class="h3 mb-3 font">Log In</h1>

      
        
        <div class="form-floating">
          <input type="text" class="form-control mb-2" name="username" placeholder="Enter your username">
          <label for="username">User Name</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" name="password" placeholder="Password" >
          <label for="password">Password</label>
        </div>
        
      <!-- <p><input type="submit" name="Submit" value="LogIn"></p> -->

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        {% csrf_token %}
        <button class="w-100 btn btn-lg btn-primary" type="submit" value="LogIn">Sign In</a></button> 
      </form> 
      <button class="w-100 btn mt-3 btn-lg btn-secondary" type="submit"><a href="{% url 'Login_app:option' %}">Sign Up</a></button>
    </div>
    
  </main>
</body>


</html>